h2.comments { /* hide the comments heading */
  display:none;
}

/* pro */
#procon-1 {
  width:47%;
  float:left;
}
#procon-1 h2.procon {
  color:#006600;
}

/* con */
#procon-2 {
  width:47%;
  float:right;
}
#procon-2 h2.procon {
  color:#990000;
}

html.js .procon-collapsed div.comment, div.comment-collapsed {
height:0.5em;
overflow:hidden;
cursor: pointer;
}

span.show-all {
cursor:pointer;
float:right;
text-decoration:underline;
}
